.container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.input-container {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    margin: 25px;
}

.btn {
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    padding: 15px 25px;
    font-size: 25px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
}

.btn:hover {
    transform: translateY(-3px) scale(1.05)
}

.btn:active {
    transform: translateY(2px) scale(0.95)
}

.card {
    display: block;
    text-align: left;
    background-color: white;
    margin: auto;
    width: 56%;
    padding: 5px 3px;
    border-radius: 20px;
}

#no-tasks-msg {
    display: block;
}

.done span {
    text-decoration: line-through;
    opacity: 0.6;
}

.done-btn {
    border: none;
    padding: 6px 12px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.85);
    color: white;
}

.done-btn:hover {
    background-color: green;
}

.delete-btn {
    border: none;
    padding: 6px 12px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.85);
    color: white;
}

.delete-btn:hover{
    background-color: red;
}

.task {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task span {
    flex: 1;
}

.task button:hover {
    transform: translateY(-3px) scale(1.05)
}

.task button:active {
    transform: translateY(2px) scale(0.95)
}

.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error {
    display: none;
    background-color: rgb(200, 0, 0, 0.5);
    color: white;
    padding: 16px 25px;
    border-radius: 20px;
}

input {
    text-align: center;
    padding: 20px 12px;
    width: 50%;
    margin-bottom: 0;
    border-radius: 10px;
    border: none;
}

ul {
    list-style-type: disc;
}

li {
    margin: 15px;
}

header h1 {
    margin: 0;
    font-weight: bold;
    background-color: rgb(0, 0, 0, 0.75);
    color: white;
    padding: 1.5rem;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: #262626;
}

